
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/stylelogeo.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>
    <img class="wave" src="~/Content/images/wave_blue.png">
    <div class="container">
        <div class="img">
            <img src="~/Content/images/loginTienda.png">
        </div>
        <div class="login-content">
            <form action="@Url.Action("Index","Acceso")" method="post" class="form">
                <img src="~/Content/images/LogoBlue2.2.png">

                @{
                    if (ViewBag.Error != null)
                    {
                        <div class="alert" role="alert">
                            @ViewBag.Error
                        </div>
                    }
                }

                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" class="input" name="usuario" autocomplete="off" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña</h5>
                        <input type="password" class="input" name="contra" autocomplete="off" required>
                    </div>
                </div>
                <a href="@Url.Action("Reestablecer","Acceso")">¿Olvido su contraseña?</a>
                <a href="@Url.Action("Registrar","Acceso")">¿No tienes una cuenta? Registrate!</a>
                <div class="button-container">
                    <button>Login</button>
                </div>

            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</body>


</html>
